<footer>
  <div class="wrapper">
    <p>
      <a href="mailto:kate@katefoale.net">kate@katefoale.net</a> |
      <a href="tel:+447917028645">07917 028645</a> |
      <a href="https://www.facebook.com/cllr.kate.foale">Facebook</a> |
      <a href="http://twitter.com/katefoale">Twitter</a>
    </p>
    <p>
      Promoted by Edward Lyons on behalf of Kate Foale.<br>
      Both at 61 Denison Street, Beeston, Nottingham, NG9 1AX.</br>
      Hosted by <a href="mailto:kim@gfsc.studio">Kim Foale</a> of <a href="http://gfsc.network">Geeks for Social Change</a>.
    </p>
  </div>
  {% include google-analytics.html %}
</footer>
