body
  margin: 0
  padding: 0

img
  max-width: 80%
  +for-tablet-portrait-up
    max-width: 100%
  display: block
  margin: 1rem auto

header
  background-image: url("../images/redmap.png")
  h3
    display: block

main, footer
  margin-left: 1rem
  margin-right: 1rem

h2, h3
  clear: both

.wrapper
  max-width: $site-max-width
  margin: 0 1rem
  +for-desktop-up
    margin: 0 auto


.content
  +for-tablet-portrait-up
    float: left
    width: 60%
  +for-desktop-up
    width: 60%
.aside
  +for-tablet-portrait-up
    float: left
    margin-left: 1%
    width: 39%
  +for-desktop-up
    margin-left: 5%
    width: 35%
