body
  font-family: $base-font-family

h1, h2
  text-transform: uppercase

h2, h3
  display: table

h1, h2, h3
  font-weight: bold
  padding-left: 1rem
  padding-right: 1rem
  padding-top: 0.25rem
  padding-bottom: 0.25rem

h1
  font-size: 4rem
  display: inline-block
  color: $brand-color
  background-color: $background-color
  margin-top: 8rem
  margin-left: 1rem
  margin-bottom: 0

h2
  font-size: 2rem
  color: $background-color
  background-color: $brand-color

h3
  font-size: 1.5rem
  color: $background-color
  background-color: $alt-color
  margin-bottom: 0
