@charset "UTF-8";
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.1rem; }

h1, h2 {
  text-transform: uppercase; }

h2, h3 {
  display: table; }

h1, h2, h3 {
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  clear: both; }

h1 {
  font-size: 3rem;
  display: inline-block;
  color: #BE203D;
  background-color: #fdfdfd;
  margin-top: 12rem;
  margin-bottom: 0; }
  @media (min-width: 770px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2rem;
  color: #fdfdfd;
  background-color: #BE203D; }
  @media (min-width: 770px) {
    h2 {
      font-size: 2.5rem; } }

h3 {
  font-size: 1.5rem;
  color: #fdfdfd;
  background-color: #24C0A2;
  margin-bottom: 0; }
  @media (min-width: 770px) {
    h3 {
      font-size: 1.75rem; } }

blockquote {
  font-style: italic;
  margin: 1.5rem;
  display: block; }

cite {
  display: block;
  margin-top: 0.5rem;
  font-style: normal; }
  cite::before {
    content: "— "; }

a {
  color: #24C0A2; }

.btn {
  color: #fdfdfd;
  background-color: #24C0A2;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 80%;
  display: block;
  margin: 1rem auto 2rem; }
  @media (min-width: 770px) {
    img {
      max-width: 100%; } }

header {
  background-image: url("../images/redmap.png"); }
  header h3 {
    display: block; }

main {
  margin-left: 1rem;
  margin-right: 1rem; }

h2, h3 {
  clear: both; }

footer {
  clear: both;
  background-color: #3b0a13;
  color: white;
  padding: 3em 0 5em;
  font-size: 0.8em;
  margin-top: 2 em; }

.headshot {
  display: none; }
  @media (min-width: 770px) {
    .headshot {
      display: block;
      width: 16rem;
      margin: 2rem auto 0; } }

.wrapper {
  max-width: 80rem;
  margin: 0 1rem;
  position: relative; }
  @media (min-width: 83rem) {
    .wrapper {
      margin: 0 auto; } }

@media (min-width: 770px) {
  .content {
    float: left;
    width: 60%; } }
@media (min-width: 80rem) {
  .content {
    width: 60%; } }

@media (min-width: 770px) {
  .aside {
    float: left;
    margin-left: 1%;
    width: 39%; } }
@media (min-width: 80rem) {
  .aside {
    margin-left: 5%;
    width: 35%; } }

@media (min-width: 770px) {
  .adjacent {
    float: left;
    width: 49%;
    text-align: center; }
    .adjacent h3 {
      text-align: center;
      display: inline-block; }
    .adjacent:nth-child(2) {
      margin-left: 2%; } }
